.container{
    display: flex;
    flex-direction: row;
}

.btnContainer {
    padding: 3em 2em;
    width: 4em;
    margin: 0em 1em;
    text-align: center;
    cursor: pointer;
 }
 
.btnContainer:hover{
    background-color: rgb(245, 240, 240);
}

.btn{
    font-size: 3em;
    font-weight: bolder;
}