
.card{
    width: 300px;
    margin: 1em;
}

.card:hover{
   cursor: pointer;
   opacity: 0.5;
}

.btnContainer {
    padding: 3em 2em;
    max-width: 5em;
    margin: 1em 1em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
 
.btnContainer:hover{
     background-color: rgb(245, 240, 240);
 }
 
.btn{
    word-wrap: break-word;
}
