.container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

.btn{
    word-wrap: break-word;
}

.btnContainer {
    padding: 3em 2em;
    width: 5em;
    height: 2.7em;
    margin: 1em 1em;
    text-align: center;
    cursor: pointer;
 }
 
 .btnContainer:hover{
     background-color: rgb(245, 240, 240);
 }
 
  
 
