.container {
    width: 35em; /* Adjust the width as needed */
    height: 35em;
    max-width: none;
    margin: auto;
}


.fields{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.name{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

.category{
    font-size:x-large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
}

.input{
    margin: 0 auto;
  /* Optional: adjust width */
  width: 80%;
  height: 1.5em;

}

.relatedProductsContainer{
    display: flex;
    align-items: center;
    height: 70px;
}

.relatedProductImg{
    width: 70px;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 0.5em;
}
