.container {
  display: flex;
  background: #4a4848;
  color: #fff;
  text-align: left;
  justify-content: left;
}

.container div {
  max-width: 450px;
  height: auto;
  padding: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.img {
  width: 80px;
  height: 60px;
}
