.mainContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 2em;
}

.container div{
   
}

img{
    width: 450px;
    height: 300px;
   
}

.description{
    width: 50%;
}



.price{
    text-align: center;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-size: 1.5em;
}

