.inputField {
    width: 5em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.btn{
    width: 13em;
    height: 3em;
    color: white;
    font-weight: bold;
}