.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(139, 79, 196);
    font-weight:bold;
}

.container div{
    padding: 1.5em 5em;
}

.icon{
    color: white;
}