.mainContainer{
    display: flex;
    flex-direction: row;

}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  font-weight: bold;
  font-size: 30px;
  margin: 0px 20px 0px 20px;
  cursor: pointer; /* Change cursor to pointer on hover */
  }

  .btnContainer:hover{
    background-color: whitesmoke;
  }

  .productsContainer{
    display: flex;
    flex-direction: row;
    max-height: 300px;
  }