.container{
    display: flex;
    flex-direction: row;
    height: 250px;
    align-items: center;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer; /* Change cursor to pointer on hover */
  }



.btnContainer:hover{
    background-color: rgb(245, 240, 240);
}