

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.logoutContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .logoutBtn {
    align-self: flex-end;
    margin: 2em;
  }