.container{
    width: 900px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.status{
    margin-bottom: 1em;
}

.products{
    margin-bottom: 0.5em;
}

.delivery{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p{
    margin: auto;
}

